.carousel-caption{
    background-color: rgba(0, 0, 0, 0.829);
    font-size: 25px;
}
.about{
    border: 2px solid black;
    background-image: url(/multimedia/planta5.jpg);
    background-repeat: no-repeat;
    height: 500px;
}
.us{
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.829)
}