$color1: rgb(2, 57, 128);
$color3: rgb(141, 141, 141);

body{
    margin: 0;
    background-color: $color3;
    font-family: 'Heebo', sans-serif;

    h1{
        margin: 20px 10px 10px 10px;
        color: black;
        text-align: center;
        font-size: 35px;
    }

    h1:hover{
        color: $color1;
    }
}